#map {
  height: 100%;
  width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.left_pane {
  width: 79%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.right_pane {
  width:19%;
  height:100%;
  display: inline-block;
  vertical-align: top;
}
